# this file gets installed in /etc/systemd/system/
# to register, sudo systemctl enable yamz_dev
# filename yamz_dev     XXX or yamz_prd
# see also /etc/nginx/sites-available/yamz
# assume there's a group www-data, don't assume there's a group yamz

[Unit]
Description=MatSci YAMZ Service
After=network.target multi-user.target

[Service]
Environment="NVM_DIR=/home/matsci_yamz/.nvm"
WorkingDirectory=/home/matsci_yamz/code
User=matsci_yamz
Group=www-data
ExecStart=/bin/bash -c 'source $NVM_DIR/nvm.sh && pnpm start'
Restart=always

[Install]
WantedBy=multi-user.target
